#cab{
    background-image: url(../imagens/topo.jpg);
    background-size:cover;
    height: 650px;
    width:  1250px;

    margin:  auto;
}
.PNav
{
    width: 100%;
    overflow:auto;          
}

.PNav ul 
{
    
   text-align: right;
    margin-top: -34px;
    background-color: red;

}
.PNav li
{
    
    list-style: none;
    float:right;


}

.PNav a
{
  background: rgba(0,0,0, 0.3);
  display: block;
  padding: 10px;
  color: white;
  text-decoration:none;
  font-size: 12px;
  letter-spacing: 2px;
}
.PNav a:hover
{
    background: deepskyblue;
    
}
.PNav img
{
    margin-left:  80px; 
}
main
{
  text-align: center;
   width:  80%;
   margin: auto;
   margin-top: 90px; 
  font-family: Arial, Helvetica, sans-serif;
  text-justify: auto;

}
.Portfolio
{
    width: 70%;
}
.Portfolio p 
{

    width: 70%;
    text-align: center;
    margin-left: 400px;
    margin-top: 25px;
    margin-bottom:  80px
}
.Portfolio h1
{
    text-align: justify;
    width: 70%;
    text-align: center;
    margin-left: 400px;
    margin-top: 5px;

    
}
.Gallery
{
   padding:  50px;
   overflow:  auto;   
   margin-bottom: 90px;
    margin-left: 5%;
}

.cont
{
    width: 32%;
    float: left;
       
}

.cont1, .cont2
{
    margin-right: 1%;
}

.About
{
    background-image: url(../imagens/bg_detalhe.png);
    width: 70%;
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: auto;
    margin-left:  235px
}
#Tit
{
    margin-right:  250px;
    margin-left: 65px;
    margin-top:  65px;
    text-align: justify;
    color: white;
    text-transform: uppercase;
}
#Par
{
    padding: 60px;
    margin-left: 85px;
    margin-right:  250px;
    text-align: justify;
    color: white;
}
.Contact
{
    text-transform: uppercase;
    color:  blue;
    font-family:  Arial, sans-serif;
    margin-top:  45px;
    margin-bottom:  45px;
}
footer
{
    margin-top: 85px;
    margin-bottom:  -90px;
    padding: 15px;
    background-color: deepskyblue;
    
}
footer p 
{
    margin-left:  900px;
    color: white;    
}
